[submodule "kt-utils-common"]
	path = kt-utils-common
	url = https://github.com/Nejat/kt-utils-common.git
[submodule "kt-utils-process"]
	path = kt-utils-process
	url = https://github.com/Nejat/kt-utils-process.git
[submodule "kt-utils-windows"]
	path = kt-utils-windows
	url = https://github.com/Nejat/kt-utils-windows.git
[submodule "kt-utils-data"]
	path = kt-utils-data
	url = https://github.com/Nejat/kt-utils-data.git
[submodule "kt-utils-net"]
	path = kt-utils-net
	url = https://github.com/Nejat/kt-utils-net.git
